*{
    margin: 0px;
    padding: 0px;
}

body{
    width:1920px;
    height: 1080px;
    transform: rotate(90deg) translate(960px,-120px);
    transform-origin: top;

}
#video{
    height: 100%;
    width: 100%;
    background-color: #000000;



}
/*头部*/
#head{
    padding-top: 10px;
    height: 115px;
    width: 100%;
    /*border: 1px solid #ffffff;*/
}

#level{
    width: 351px;
    height: 87px;
    float: left;
    color: rgb(255,177,39);
    font-size: 48px;
    margin-left: 20px;
    margin-top: 5px;
}


#sign{
    height: 90px;
    width: 1200px;
    text-align: center;
    font-size:48px;
    font-family: "微软雅黑";
    font-weight: lighter;
    color: #ffffff;
    float: left;
    margin-top:10px;

}
#heartPic{
    float: left;
    display: block;
    height:70px ;
    width: 80px;
    background-image: url("../res/heart.png");
    background-repeat: no-repeat;
   background-size: contain;
    position: absolute;
    left: 1700px;
    margin-top: 15px;

}
#heartCount{
    width: 116px;
    height: 102px;
    color: #FFAF0A;
    float: right;
    font-size:72px ;
    font-family: "华文细黑";
}
#videoPlay{
    margin: 0 auto;
    height: 855px;
    width: 1520px;
    background-color: white;
}

/*底部进度条*/
#foot{
    width: 1918px;
    height: 110px;
    /*border: 1px solid #ffffff;*/
}
#playBtn{
    width: 80px;
    height: 80px;
    background-image: url("../res/play.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background-color: transparent;
}

#timeBar{
    float: left;
    width: 1615px;
    height: 6px;
    position:relative;
    top: 55px;
    z-index: 2;
    background-color: #999999;
}
#currentBar{
    width: 0px;
    height: 6px;
    border-radius: 2px;
    background-color:rgb(255,177,39);
}

#timePass{
    font-family: "微软雅黑";
    color: rgb(255,177,39);
    font-weight:bold ;
    font-size: 60px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}



#pauseAlert{
    display: none;
    height:725px ;
    width: 1137px;
    background-image: url("../res/alertBg.png");
    margin: 0 auto;
    position: absolute;
    top: 180px;
    left: 390px;
    border-radius:40px;
    color: #ffffff;

}
#alertBtn{
    border: none;
    background-color: transparent;
    width: 300px;
    height: 300px;
    background-image: url("../res/pause2.png");
    background-size: contain;
    position: absolute;
    left: 200px;
    top: 170px;
}
#title{
    font-size: 60px;
    font-family: "微软雅黑";
    position: absolute;
    left:510px;
    top: 195px;
    letter-spacing: 5px;

}
#sportTime{
    font-size: 80px;
    font-family: "华文细黑";
    position: absolute;
    left:580px;
    top: 300px;
    letter-spacing: 5px;
}
#sign2{
    font-size: 50px;
    font-family: "微软雅黑";
    position: absolute;
    left:140px;
    top: 480px;
    letter-spacing: 5px;
}